 @model RentalPropertyAnalyzer.Models.PaginatedRentalViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    @section FilterSection
    {
        <div class="card-header">
            @using (Html.BeginForm("Index", "RentalListings", FormMethod.Get, new { @class = "row g-3 align-items-center" }))
            {
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="stateFilter">State:</label>
                        @Html.DropDownList("stateFilter", Model.StateList, "Select State", new { @class = "form-control", @id = "stateFilter" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="countySelector">County:</label>
                        <select id="countySelector" name="countyFilter" class="form-control">
                            <option value="">Select a state first</option>
                            @if (Model.CountyList != null)
                            {
                                foreach (var item in Model.CountyList)
                                {
                                    <option value="@item.Value" @(item.Value == Model.SelectedCounty ? "selected" : "")>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="propType">Property Type:</label>
                        <select name="propertyTypeFilter" class="form-control">
                            <option value="" @(string.IsNullOrEmpty(Model.CurrentFilters?.PropertyType) ? "selected" : "")>All</option>
                            <option value="TOWNHOUSE" @(Model.CurrentFilters?.PropertyType == "TOWNHOUSE" ? "selected" : "")>Townhouse</option>
                            <option value="CONDO" @(Model.CurrentFilters?.PropertyType == "CONDO" ? "selected" : "")>Condo</option>
                            <option value="SINGLE_FAMILY" @(Model.CurrentFilters?.PropertyType == "SINGLE_FAMILY" ? "selected" : "")>Single Family</option>
                            <option value="APARTMENT" @(Model.CurrentFilters?.PropertyType == "APARTMENT" ? "selected" : "")>Apartment</option>
                            <option value="MULTI_FAMILY" @(Model.CurrentFilters?.PropertyType == "MULTI_FAMILY" ? "selected" : "")>Multi-Family</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="minPrice">Min Price:</label>
                        <input type="text" id="minPrice" name="minPrice" class="form-control" placeholder="$0.00" value="@(Model.CurrentFilters?.MinPrice ?? 0)" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="maxPrice">Max Price:</label>
                        <input type="text" id="maxPrice" name="maxPrice" class="form-control" placeholder="$0.00" value="@(Model.CurrentFilters?.MaxPrice ?? 0)" />
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <input type="submit" value="Filter" class="btn btn-primary w-100" />
                    </div>
                </div>
            }
        </div>

    }
    <!-- Main Content -->
    <div id="content">

        <div class="container-fluid" style="padding: 0;">
            <div class="col-auto">
                <h6 class="m-0 font-weight-bold text-primary">Property Count: @Model.Pagination.TotalCount.ToString("N0")</h6>
            </div>
            <div class="card shadow">
               @*  <div class="card-body"> *@
                    <div class="table table-bordered table-hover table-sm modern-table w-100">
                        @using (Html.BeginForm("CompareProperties", "RentalListings", FormMethod.Post))
                        {
                            <table class="table table-bordered table-hover table-sm modern-table w-100">

                            <thead style="position: sticky; top: 0; z-index: 10; background-color: #fff;">
                                    <tr>
                                        <th>Property Selector</th>
                                        <th>Thumbnail</th>
                                        <th>Property Address</th>
                                        <th>County</th>
                                        <th>
                                            @Html.ActionLink("Zip Code", "Index", new {

                                                    sortOrder = ViewBag.ZipCodeSortParam,
                                                    pageNumber = Model.Pagination.CurrentPage,
                                                    pageSize = Model.Pagination.PageSize,
                                                    minPrice = Model.CurrentFilters?.MinPrice,
                                                    maxPrice = Model.CurrentFilters?.MaxPrice,
                                                    stateFilter = Model.CurrentFilters?.State,
                                                    countyFilter = Model.CurrentFilters?.County,
                                                    propertyTypeFilter = Model.CurrentFilters?.PropertyType
                                                })
                                            @if (ViewBag.CurrentSort == "ZipCode_Asc")
                                            {
                                                <i class="fas fa-sort-up"></i>
                                            }
                                            else if (ViewBag.CurrentSort == "ZipCode_Desc")
                                            {
                                                <i class="fas fa-sort-down"></i>
                                            }
                                        </th>
                                        <th>Property Type</th>
                                        <th>Price</th>
                                        <th>Estimated Rent</th>
                                        <th>
                                            @Html.ActionLink("Rent Price Ratio", "Index", new {
                                                    sortOrder = ViewBag.RatioSortParam,
                                                    pageNumber = Model.Pagination.CurrentPage,
                                                    pageSize = Model.Pagination.PageSize,
                                                    minPrice = Model.CurrentFilters?.MinPrice,
                                                    maxPrice = Model.CurrentFilters?.MaxPrice,
                                                    stateFilter = Model.CurrentFilters?.State,
                                                    countyFilter = Model.CurrentFilters?.County,
                                                    propertyTypeFilter = Model.CurrentFilters?.PropertyType
                                                })
                                            @if (ViewBag.CurrentSort == "Ratio_Asc")
                                            {
                                                <i class="fas fa-sort-up"></i>
                                            }
                                            else if (ViewBag.CurrentSort == "Ratio_Desc")
                                            {
                                                <i class="fas fa-sort-down"></i>
                                            }
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Rentals != null && Model.Rentals.Any())
                                    {
                                        foreach (var rental in Model.Rentals)
                                        {
                                            <tr>
                                                <td><input type="checkbox" name="selectedProperties" value="@rental.ID" /></td>
                                                <td>
                                                    <img class="thumbnail" src="@rental.ImgSrc" alt="Property Thumbnail" />
                                                </td>
                                                <td>
                                                    <a href="https://www.zillow.com/homedetails/@(rental.Zpid)_zpid/" target="_blank">
                                                        @($"{rental.StreetAddress}, {rental.City}, {rental.State} {rental.ZipCode}")
                                                    </a>
                                                </td>
                                                <td>@rental.County</td>
                                                <td>@rental.ZipCode</td>
                                                <td>@rental.PropertyType</td>
                                                <td>@String.Format("{0:C}", rental.Price)</td>
                                                <td>@String.Format("{0:C}", rental.EstimatedRent)</td>
                                                <td>@rental.RentalPriceRatio.ToString("N5")</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9" class="text-center">No Data Available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="text-left my-3">
                                <input type="submit" value="Compare Selected Properties" class="btn btn-primary" />
                            </div>
                        }

                        <!-- START: Updated Pagination Logic -->
                        <div class="row">
                            <div class="col-md-6 text-left">
                                @if (Model.Pagination.HasPreviousPage)
                                {
                                    <a href="@Url.Action("Index", new {
                                        pageNumber = Model.Pagination.CurrentPage - 1,
                                        pageSize = Model.Pagination.PageSize,
                                        minPrice = Model.CurrentFilters?.MinPrice,
                                        maxPrice = Model.CurrentFilters?.MaxPrice,
                                        stateFilter = Model.CurrentFilters?.State,
                                        countyFilter = Model.CurrentFilters?.County,
                                        propertyTypeFilter = Model.CurrentFilters?.PropertyType,
                                        sortOrder = Model.CurrentFilters?.SortOrder
                                    })" class="btn btn-outline-primary btn-sm" title="Previous">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                }
                            </div>
                            <div class="col-md-6 text-right">
                                @if (Model.Pagination.HasNextPage)
                                {
                                    <a href="@Url.Action("Index", new {
                                        pageNumber = Model.Pagination.CurrentPage + 1,
                                        pageSize = Model.Pagination.PageSize,
                                        minPrice = Model.CurrentFilters?.MinPrice,
                                        maxPrice = Model.CurrentFilters?.MaxPrice,
                                        stateFilter = Model.CurrentFilters?.State,
                                        countyFilter = Model.CurrentFilters?.County,
                                        propertyTypeFilter = Model.CurrentFilters?.PropertyType,
                                        sortOrder = Model.CurrentFilters?.SortOrder
                                    })" class="btn btn-outline-primary btn-sm" title="Next">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                }
                            </div>
                        </div>
                        <!-- END: Updated Pagination Logic -->
                    </div>
               @*  </div> *@

            </div>
        </div>
    </div>
</div>


        <script>
           $(document).ready(function () 
            {

                $('#stateFilter').change(function () {
                    var selectedState = $(this).val();
                    if (selectedState) {
                        $('#countySelector').prop('disabled', true); // Disable while loading
                        $.ajax({
                            url: '@Url.Action("GetCounties", "RentalListings")',
                            type: 'GET',
                            dataType: 'json',
                            data: { stateCode: selectedState },
                            success: function (counties) {
                                $('#countySelector').empty().append('<option value="">Select County</option>');
                                $.each(counties, function (index, county) {
                                    $('#countySelector').append($('<option></option>').val(county.value).text(county.text));
                                });
                                $('#countySelector').prop('disabled', false);
                            },
                            error: function () {
                                alert('Error loading counties!');
                                $('#countySelector').prop('disabled', false);
                            }
                        });
                    } else {
                        $('#countySelector').empty().append('<option value="">Select a state first</option>');
                    }
                });
            });

        </script>

    


